{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'INDEX' %}"><img class="img-logo" src="{% static 'img/logoRayo.png' %}"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'INDEX' %}">Inicio
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'MECANICOS' %}">Mecánicos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'CONTACTO' %}">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'GALERIA' %}">Galeria de atenciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'PRODUCTOS' %}">Productos</a>
                  </li>
                  {% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'REGISTRAR_ATENCION' %}">Registrar atenciones</a>
                  </li>
                  {% endif %}
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="search" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                    <a href="{% url 'PERFIL' %}"><button type="button" class="btn btn-dark btn-nav">{{ user.username}}</button></a>
                    <a type="button" class="btn btn-dark btn-nav" href= "{% url 'LOGOUT' %}">Cerrar sesión</a>
                {% else %}
                  <a type="button" class="btn btn-dark btn-nav" href="{% url 'LOGIN' %}">Iniciar sesión</a>
                {% endif %}
              </div>
            </div>
          </nav>
    </header>

    {% block contenido %}
    
    {% endblock contenido %}

    <footer class="bg-dark">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="footer-1">
              <h3 class="titulo">Acerca de nosotros</h3>
              <p>El taller Rayo Makween es un taller con una reputación intachable. Llevamos 2 años prestando nuestros servicios y vamos por más. 
              Su dueño, Tilín Ramos es un orgulloso mecánico con 20 años de experiencia en el rubro, el cuál un día decidió abrir un taller mecánico. 
              Inspirado por su película favorita, "Cars", emprendió el viaje a crear el taller "Rayo Makween". 
              Actualmente contamos con una sede, aunque deseamos expandirnos mucho más!</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <h3 class="titulo">Nuestra ubicación</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d587.4743483167146!2d-70.57969567169764!3d-3359864180181175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f131!3m3!1m2!1s0x9662d7037854df81%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto!5e0!3m2!1ses!2scl!4v168463881549!5m2!1ses!2scl" 
              width="400" 
              height="300" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>
      <hr>
    </footer>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/17e1a23154.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11%22%3E"></script>

    {% if messages %}
          {% for m in messages %}
            <script>
              Swal.fire({
                "title": "Felicitaciones!",
                "text": "{{m}}",
                "icon": "success",
                "confirmButtonText": "Continuar"
              })
            </script>
        {% endfor %}
    {% endif %}
    
</body>
</html>